.input-with-icon {
  border: 5px solid orange !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.envelope-mob {
  /* border: 5px solid red; */
  position: absolute;
  top: 0;
  margin-top: 48px;
  margin-left: 4px;
  /* right: 10; */
  /* margin-right: 92px; */
  /* left: 0; */
  /* top: 10;
  right: 0; */

  /* right: 0; */

  z-index: 99;
  /* margin-top: 24px;
    margin-right: 92px; */
  color: lightgray;
}

.control-style {
  width: 426px !important;
  height: 64px !important;
  flex-shrink: 0;
  border: 5px soid yellow;
}

.password-field-container {
  width: 426px;

  position: relative;
  /* border: 5px soid yellow; */
  /* background-color: red; */
}


/* Tablet media query */

@media only screen and (min-width: 600px) {
  .input-with-icon {
    border: 5px solid orange !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  
  .envelope-style {
    /* border: 5px solid red; */
    position: absolute;
    top: 0;
    margin-top: 48px;
    margin-right: 12px;
    /* right: 10; */
    /* margin-right: 92px; */
    /* left: 0; */
    /* top: 10;
    right: 0; */
  
    /* right: 0; */
  
    z-index: 99;
    /* margin-top: 24px;
      margin-right: 92px; */
    color: lightgray;
  }
  
  .control-style {
    width: 426px !important;
    height: 64px !important;
    flex-shrink: 0;
    border: 5px soid yellow;
  }
  
  .password-field-container {
    width: 426px;
  
    position: relative;
    /* border: 5px soid yellow; */
    /* background-color: red; */
  }
  
}

/* Website media query */

@media only screen and (min-width: 1028px) {
  .input-with-icon {
    border: 5px solid orange !important;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  
  .envelope-style {
    /* border: 5px solid red; */
    position: absolute;
    top: 0;
    margin-top: 48px;
    margin-right: 12px;
    /* right: 10; */
    /* margin-right: 92px; */
    /* left: 0; */
    /* top: 10;
    right: 0; */
  
    /* right: 0; */
  
    z-index: 99;
    /* margin-top: 24px;
      margin-right: 92px; */
    color: lightgray;
  }
  
  .control-style {
    width: 426px !important;
    height: 64px !important;
    flex-shrink: 0;
    border: 5px soid yellow;
  }
  
  .password-field-container {
    width: 426px;
  
    position: relative;
    /* border: 5px soid yellow; */
    /* background-color: red; */
  }
  
}